<div>
    <p>This is Component 2</p>
    <p>Parameter1: @Parameter1</p>
    <p>Parameter2: @Parameter2</p>
</div>

@code {
    [Parameter] public string? Parameter1 { get; set; }
    [Parameter] public int Parameter2 { get; set; }
}
